# Ignore virtual environments
venv/
env/
.env

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore SQLite database files (if used)
*.sqlite
*.db

# Ignore Streamlit logs & settings
.streamlit/

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db

